:root {
    /* TODO: Add custom CSS variables for color */
}
/*---------------General-Content--------------*/
html {
    scroll-behavior: smooth;
}
body {
    background-color: #f5f5f5;
    font-family: Roboto, sans-serif;
    font-size: 2vw;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    padding: 0;
    margin: 15vw 0 0 0;
}

/* TODO: Add an animation where the title
    banner emerges from the nav bar and the
    nav items can either pop out from the
    middle item or come in another way
    (perhaps the top down)
*/

/*------------------Nav-Bar-------------------*/
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    width: 100vw;
    height: 8vw;
    background-color: #7e7474;
    position: fixed;
    z-index: 1;
}
nav ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    list-style: none;
    width: 100vw;
}
nav ul li {
    margin: 0;
    flex-basis: 25vw;
    text-align: center;
    border-radius: 0.5vw;
    background-color: #605050;
    opacity: 0.8;
    padding: 1vw 2vw;
    box-shadow: 0 0.5vw 1vw rgba(0, 0, 0, .55);
    transition: box-shadow 0.15s ease-in-out;
}
nav ul li:hover {
    box-shadow: 0 1.5vw 2vw rgba(0, 0, 0, .55);
    transition: box-shadow 0.15s ease-in-out;
}
nav ul li h4 {
    font-size: 2vw;
    font-weight: 450;
    color: #f5f5f5;
    padding: 0;
    margin: 0;
}
/*----------------Text-Content----------------*/
h1 {
    font-size: 3.5vw;
    font-weight: 450;
    height: 5vw;
    color: #212529;
    text-align: center;
    margin: 5vw 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
h4 {
    font-size: 2vw;
    font-weight: 450;
    line-height: 1.2;
    color: #212529;
    text-align: center;
}
p {
    font-size: 2vw;
    color: #212529;
    text-align: center;
    font-family: Roboto, sans-serif;
}
a {
    cursor: pointer;
}
input {
    cursor: pointer;
}
/*--------------Number-Text-Display------------*/
#num-display-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    flex-direction: column;
}
.num-display {
    width: 30vw;
    height: 3vw;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0 35vw;
}
.num-display#api-title {
    width: 60vw;
    margin: 8vw 20vw 1vw 20vw;
    Z-index: 0;
    background-color: #7e7474;
    top: 0;
    left: 0;
    padding: 0 0 1vw 0;
    border-bottom-left-radius: 5vw;
    border-bottom-right-radius: 5vw;
    box-shadow: 0 0.5vw 1vw rgba(0, 0, 0, .55);
}
p.num-display {
    margin-top: 0.8vw;
    width: 100vw;
    height: 3.55vw;
    box-shadow: 0 0.5vw 1vw rgba(0, 0, 0, .55);
    background-color: rgba(56, 50, 50, 0.5);
}
h1#api-title.num-display {
    font-size: 3vw;
    font-weight: 450;
    margin: inherit inherit 50vw 0;
    color: #f5f5f5;
    height: 5vw;
    position: fixed;
}
/*--------------Generated-Number--------------*/
h1#gen-num {
    font-size: 6vw;
    font-weight: 450;
    padding: 5vw 5vw;
    border-radius: 6vw;
    background-color: #e0dada;
    width: auto;
    min-width: 20vw;
    height: 10vh;
    box-shadow: 0 0 1.5vw rgba(222, 212, 212, 0.85);
}
/*------------------Toggle--------------------*/
/* Make this switch between the two different
    number displays like you would see on
    an iPhone
*/
.toggle-div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5vw 0;
    flex-direction: row;
    width: 30vw;
    margin: 2.2vw 33.8vw;
    opacity: 0.8;
    background-color: rgba(56, 50, 50, 0.7);
    border-radius: 1vw;
}
#integer, #decimal {
    color: #f5f5f5;
    padding: 0.5vw 3vw;
    border-radius: 1.5vw;
    margin: 0 0.5vw;
}
#integer {
    background-color: #1c6411;
}
#decimal {
    background-color: #7e7474;;
}
/*-----------------Buttons--------------------*/
/*.button {*/
/*    box-shadow: 0 0 1.5vw rgba(0, 0, 0, 0.35);*/
/*    transition: box-shadow 0.15s ease-in-out;*/
/*}*/
/*.button:hover {*/
/*    box-shadow: 0 0 2.5vw rgba(0, 0, 0, 0.55);*/
/*    transition: box-shadow 0.15s ease-in-out;*/
/*}*/
/*---------------Generate-Button--------------*/
#gen-button {
    text-decoration: none;
    color: #f5f5f5;
    font-size: 5vw;
    font-weight: 450;
    background-color: #7e7474;
    height: 8vw;
    border: none;
    border-radius: 0.5vw;
    padding: 2vw 5vw;
    user-select: none;
}
/*----------------Copy-Button-----------------*/
#copy-button {
    font-size: 1.75vw;
    font-weight: 450;
    background-color: #7e7474;
    color: #f5f5f5;
    height: 5.5vw;
    border: none;
    border-radius: 0.5vw;
    width: 20vw;
}
/*----------------Max-Min-Section-------------*/
#min-max-div {
    width: 50vw;
    margin: 2.2vw 25vw;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.8;
    background-color: rgba(133, 159, 185, 0.8);
    border-radius: 1vw;
}
.min-max-item {
    margin: 0 2vw;
}

/*-----------------Input-Form-----------------*/
#number-range-div {
    margin-top: 3vw;
    background-color: rgba(133, 159, 185, 0.5);
    box-shadow: 0 0.5vw 1vw rgba(0, 0, 0, .55);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 10vh;
    width: 100%;
}
label {
    margin: 0 0 0 1vw;
}
input {
    font-size: 2vw;
    font-weight: 450;
    margin-left: 1vw;
    width: 10vw;
    height: 3vh;
    text-align: center;
    padding: 1vw;
}

#set-range-button-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15vw;
    height: 7vh;
    margin-left: 1vw;
}

#set-range-button-text {
    font-size: 2vw;
    font-weight: 450;
    margin-left: 0.8vw;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 1vw;
    background-color: #7e7474;
    color: #f5f5f5;
    border: none;
    border-radius: 0.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="submit"] {
    font-size: 2vw;
    font-weight: 450;
    margin-left: 0.8vw;
    width: 15vw;
    height: 10vh;
    text-align: center;
    padding: 1vw;
    background-color: #7e7474;
    color: #f5f5f5;
    border: none;
    border-radius: 0.5vw;
}

