<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html"
      dir="ltr">
<head>
    <meta charset="UTF-8">
    <title>Random Number API</title>
    <link rel="stylesheet" href="../static/style.css" th:href="@{/style.css}">
    <!--IMPORTANT: The Random API is a place where you can get random sets of
    data and combine the randomness for your own purposes. The Random API may
    be anything -- a base for a random number generator, testing, encryption,
    dummy data, or just for fun. The Random API a simple tool to help you
    build complex programs. -->
    <!-- Perhaps use IMDB for large media database
    * Number * Letter * Word * Sentence * Definition * Date * Time * Quote *
    * Color * Image * Fact * President * Country * Historical Event * Animal *
    * Food * Music * Movie * Book * Website * Company * Emoji * Emotion *
    * Pokemon * Planet * Celebrity * City * Fruit * Vegetable * Car * Name *
    * University * Hobby * Language * Sport * Job * Currency * Shape *
    * Greeting * Periodic Element * Holiday * Programming Language * Tool *
    -->
    <!-- Priority:
         1. Random Number Generator
         2. Random Color Generator (Hex, RGB, HSL)
         3. Random Word Generator (Exclude Profanity)
    -->
    <!-- TODO: Add radio button for hex or rgb -->
</head>
<body>
<div th:style="${bodyStyle}">
    <h1 id="current-color-text" th:text="${colorCode}">...</h1>
</div>
<div>
    <button id="save-color-button">Save Color</button>
    <h1>Saved:</h1>
    <div id="saved-colors-div">
        <p id="saved-colors" th:text="${savedColors}">...</p>
    </div>
</div>
<script src="../static/script.js" th:src="@{/script.js}" defer></script>
</body>
</html>